$color-text-primary: #282828;
$color-text-secondary: #ffb129;
$color-error: #f53e3e;
$color-background: #eee;

$text-xl: 32px;
$text-lg: 24px;
$text-md: 16px;
$text-sm: 14px;

$border-radius: 8px;
$transition-speed: 0.3s;

$spacing-lg: 24px;
$spacing-md: 16px;
$spacing-sm: 12px;
$spacing-xs: 8px;
